@font-face {
    font-family: 'Kreon'; /* Der Name, den Sie der Schriftart geben möchten */
    src: url('/font/kreon/static/Kreon-Bold.ttf'); /* Relativer Pfad zur Schriftart im resources-Ordner */
    /* src: url('fonts/YourFontName.ttf') format('truetype');  bei Bedarf */
}

.header-label {
    -fx-font-size: 36px;                    /* Schriftgröße vergrößert */
    -fx-font-weight: bold;                   /* Fettdruck */
    -fx-text-fill: #FFD700;                  /* Gelbe Textfarbe (Gold) */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.9), 10, 0.0, 1, 1); /* Dickerer Schatten-Effekt */
    -fx-padding: 10px;                       /* Innenabstand */
    -fx-background-radius: 5px;              /* Abrundung der Ecken */
}